body {
    background-color: #F1EFDC;
}

.hidden {
    display: none !important;
    }

.landing-topper {
    height: fit-content;
}

.landing-topper-text-box {
    height: 9rem;
}

.landing-upper-logo {
    height: 90%;
}

.color-txt {
    color: #42032C;
}

#text-story-mode {
    margin: 8px;
    font-size: large;
}

.landing-main {
    height: fit-content;
}

.logo-ini {
    width: 260px;
}

.landing-footer {
    height: fit-content;
    margin-top: 1rem;
}

.button-landing {
    width: 13rem;
    font-family: 'VT323', monospace;
    font-size: x-large;
    background-color: #42032C;
    color: #F1EFDC;
    border: #8d0f61 2px outset;
}

.button-landing-2 {
    background-color: #3a682d;
    border: #466904 2px outset;
}

.button-landing-2:hover {
    background-color: #24a906 !important;
    border: #466904 2px outset !important;
}

.button-landing-3 {
    background-color: #611e4a;
    border: #690404 2px outset;
}

.button-landing-3:hover {
    background-color: #a01d72 !important;
}

.button-landing-3:active {
    background-color: #430d30 !important;
}

.button-landing:hover {

    background-color: #731251;
    color: #ffffff;
    border: #8d0f61 2px outset;
    box-shadow: 1px 1px 4px 1px #7c4268;
}

.button-landing:active {
    background-color: #9a136b !important;
}

/* /// PÁGINA DE SELECCIÓN DE PERSONAJES /// */


.central-selection-player {
    width: 90%;
    border:#42032C 1px solid;
    border-radius: 5px;
}

.vampire-avatar-2-img {
    width: 35px;
}

#el-anciano-img {
    width: 80px;
}

.txt-players{
    font-family: 'VT323', monospace;
    font-size: x-large;
}

.text-top-home {
height: 80%;
} 


.txt-players-top {
border-bottom: #42032C 1px solid;
text-shadow: 3px 3px 10px #F1EFDC;
}

.landing-topper-home {
    height: fit-content;
}

.selection-mode-box {
    margin-top: 6%;
}

.landing-main-home {
    min-height: fit-content;
    background-image: url(../img/background-wall-8.png);
    background-repeat: repeat;
}

.landing-footer-home {
    margin-top: 1rem;
    height: fit-content;
}

.button-landing-b {
    width: 18rem;
}

/* /// PÁGINA DE REGLAS /// */

.font-txt-pages {
    font-family: 'VT323', monospace;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.central-how-to {
    width: 90%;
    height: fit-content;
    border:#42032C 1px solid;
}


/* /// PÁGINAS DE VICTORIA /// */

.avatar-pixel-art{
    width: 100px;
}
/* /// MEDIAS /// */

@media (min-width: 600px) {

    .button-landing {
        width: 80%;
    }

    .button-landing-b {
        width: 50%;
    }

    .logo-ini {
        width: 300px;
    }
    .txt-players {
        font-size: x-large;
    }

    #text-story-mode {
        margin: 10px;
        font-size: large;
    }

    .how-to-text {
        font-size: x-large;
    }

    .central-selection-player-lg {
        width: 50%;
    }

    .button-1-style {
        background-color: #F1EFDC;
        color: rgb(43, 43, 43);
        height: 8rem;
        background-image: url(../img/background-button-2.png);
        background-position: bottom;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    .button-1-style:hover {
        background-image: url(../img/background-button-1.png);
    }

    .button-2-style {
        background-color: #F1EFDC;
        color: rgb(43, 43, 43);
        height: 8rem;
        background-image: url(../img/background-button-6.png);
        background-position: bottom;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    .button-2-style:hover {
        background-image: url(../img/background-button-5.png);
    }

}

@media (min-width: 900px) {

    .button-landing {
        width: 80%;
    }

    .button-landing-b {
        width: 40%;
    }

    .txt-players {
        font-size: xx-large;
    }

    .central-selection-player-lg {
        width: 40%;
    }

}

@media (min-width: 1200px) {

    .button-landing {
        width: 25rem;
    }

    #text-story-mode {
        margin: 10px;
        font-size: x-large;
    }

}