body {
    background-color: brown;
}

.game-main {
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabletop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
}

.square {
    background-color: rgb(129, 129, 129);
    border: outset 3px gray;
}