body {
    background-color: #F1EFDC;
}

.hidden {
    display: none !important;
    }

.landing-topper {
    height: 25vh;
}

.landing-topper-text-box {
    height: 150px;
}

.landing-upper-logo {
    height: 90%;
}

.color-txt {
    color: #42032C;
}

.vampire-avatar-2-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.txt-players{
    font-family: 'VT323', monospace;
    font-size: large;
    margin: 0;
    padding: 0;
}

/* /// PÁGINA DE JUEGO /// */

.tabletop {
    background-image: url(../img/board-1.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 80px;
    height: 5rem;
    width: 5rem;
}

.game-board-box {
    height: 75vh;
}

.avatar-pixel-2 {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
}

.central-game-tabletop {
    height: 90%;
}

/* // ALERTAS // */

.text-alert-play {
    position: absolute;
    background-image: url(../img/background-wall-8.png);
    background-repeat: repeat;
    height: 40vh;
    width: 90vw;
    display:flex; 
    align-items: center;
    align-self:flex-end;
    border: rgb(61, 61, 61) 2px solid;
    border-radius: 5px;
}

.alert-avatar-img{
    margin-left: 2%;
    height: 70%;
}

.text-alert-play-2 {
    align-self:flex-start;
}

.alert-avatar-img-2{
    margin-left: 2%;
    height: 70%;
}



/* /// MEDIAS /// */

@media (min-width: 492px) {

    .vampire-avatar-2-img {
        width: 75px;
        height: auto
    }

    .txt-players {
        font-size: xx-large;

    }

} 

@media (min-width: 992px) {

    .landing-upper-logo {
        height: 80%;
    }

    .landing-topper-text-box {
        height: 200px;
        margin-top: 10px;
    }

    .button-landing {
        width: 35%;
    }

    .txt-players {
        font-size: xx-large;
    }

    .central-selection-player-lg {
        width: 40%;
    }

    .tabletop {
        height: 22.5rem;
        width: 22.5rem;
    }

    .central-game-tabletop {
        height: 75vh;
    }

    .square {

        height: 7.5rem;
        width: 7.5rem;
        font-size: 100px;
    }

    .vampire-avatar-2-img {
        height: auto;
        width: 160px;
    }

    .avatar-pixel-2 {
        display: flex;
        flex-direction: column;
        height: 75vh;
        border: none;
        margin: 0;
        padding: 0;
    }

    .text-box-players {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .text-alert-play {
        height: 50vh;
        width: 60vw;
    } 
    .alert-avatar-img{
        margin: 50px;
    }

}