body {
    background-color: #F1EFDC;
}

.landing-topper {
    height: 25vh;
}

.landing-topper-text-box {
    height: 100%;
}

.landing-upper-logo {
    height: 80%;
}

.color-txt {
    color: #42032C;
}

.landing-main {
    height: 50vh;
}

.logo-ini {
    width: 260px;
}

.landing-footer {
    height: 25vh;
}

.button-landing {
    width: 85%;
    font-family: 'VT323', monospace;
    font-size: x-large;
    background-color: #42032C;
    color: #F1EFDC;
    border: #8d0f61 2px outset;
}

.button-landing:hover {

    background-color: #731251;
    color: #ffffff;
    border: #8d0f61 2px outset;
    box-shadow: 1px 1px 4px 1px #7c4268;
}

.button-landing:active {
    background-color: #9a136b !important;
}


/* /// PÁGINA DE SELECCIÓN DE PERSONAJES /// */

.central-selection-player {
    width: 80%;
    border:#42032C 1px solid;
}

.vampire-avatar-2-img {
    width: 35px;
}

.txt-players{
    font-family: 'VT323', monospace;
    font-size: x-large;
}

.txt-players-top {
border-bottom: #42032C 1px solid;
}

.landing-topper-home {
    height: 25vh;
}

.landing-main-home {
    height: 60vh;
}

.landing-footer-home {
    height: 15vh;
}

/* /// PÁGINA DE REGLAS /// */

.font-txt-pages {
    font-family: 'VT323', monospace;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.central-how-to {
    width: 90%;
    height: fit-content;
    border:#42032C 1px solid;
}


/* /// PÁGINAS DE VICTORIA /// */

.avatar-pixel-art{
    width: 100px;
}